# Specific dependencies to this package
numpy==1.26.4
matplotlib==3.8.3
pandas==2.2.1
scipy==1.12.0
pytest==6.2.2
sampex==1.0.0
progressbar2==4.4.2
scikit-learn==1.5.0

# Finally install this package in editable (-e) 
# mode so I can develop it 
# without reinstalling it after every change.
-e .