# Specific dependencies to this package
numpy==1.20.2
matplotlib==3.4.1
pandas==1.2.3
scipy==1.6.2
pytest==6.2.3

# Finally install this package in editable (-e) 
# mode so I can develop it 
# without reinstalling it after every change.
-e .